[Desktop Entry]
Version=1.0
Type=Application
Name=Helios
Comment=Helios Desktop Application
Exec=__INSTALL_DIR__/app/helios
Icon=__INSTALL_DIR__/icon.png
Terminal=false
Categories=Utility;
StartupNotify=true
